{% load i18n %}

<p class="mb-0 text-secondary">
    {% blocktranslate trimmed count nb_articles=group.annot_nb_articles_in_group %}
        {{ nb_articles }} article in group
    {% plural %}
        {{ nb_articles }} articles in group
    {% endblocktranslate %}

    {% if group.annot_total_reading_time > 0 %}
        <span class="me-2">
            {% include "core/partials/bs-icon.html" with name="clock" %}
            {% blocktranslate trimmed count reading_time=group.annot_total_reading_time %}
                {{ reading_time }} minute
            {% plural %}
                {{ reading_time }} minutes
            {% endblocktranslate %}
            {% if group.annot_total_reading_time != group.annot_remaining_reading_time and group.annot_remaining_reading_time > 0 %}
                {% blocktranslate trimmed count remaining_reading_time=group.annot_remaining_reading_time %}
                    (Remaining: {{ remaining_reading_time }} minute)
                {% plural %}
                    (Remaining: {{ remaining_reading_time }} minutes)
                {% endblocktranslate %}
            {% endif %}
        </span>
    {% endif %}
</p>
{% if group.tags.all %}
    <p>
        {% for tag in group.tags.all %}
            <a class="link-underline link-underline-opacity-0 badge text-bg-primary me-1 text-wrap"
               href="{% url 'reading:articles_groups_list' %}{% append_qs_params tags=tag.slug %}">
                {{ tag.title }}
            </a>
        {% endfor %}
    </p>
{% endif %}
