/*
 * SPDX-FileCopyrightText: 2023-2025 Legadilo contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

#legadilo-article-title {
  overflow-wrap: anywhere;
}

#article-side-actions {
  max-width: 276px;
}

#article-side-actions,
#article-side-toc {
  max-height: calc(100vh - var(--content-header-height) - var(--content-footer-height) - 1vh);
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding: 0 1em;
  color: var(--bs-secondary-color);
  border-left: 0.25em solid var(--bs-border-color);
  max-width: calc(100vw - 1.5em);
}

figcaption {
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: var(--bs-secondary-color);
  padding: 0 1.25em;
}

pre {
  border: var(--bs-light-border-subtle) solid var(--bs-border-width);
  border-radius: var(--bs-border-radius);
  padding: 0.5em;
  background-color: var(--bs-tertiary-bg);
  max-width: calc(100vw - 24px);
}

.article-content {
  overflow-wrap: anywhere;

  pre {
    overflow-wrap: normal;
  }

  code {
    overflow-wrap: inherit;
  }
}

table {
  margin: auto;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: var(--bs-border-width);
}

th,
td {
  padding: 0.25em;
}

.article-container {
  font-family: var(--legadilo-article-details-font-family), sans-serif;
  font-size: var(--legadilo-article-details-font-size-desktop);
  max-width: var(--legadilo-article-details-max-width-desktop, 900px);
}

@media (width < 992px) {
  .article-container {
    font-size: var(--legadilo-article-details-font-size-tablet);
    max-width: var(--legadilo-article-details-max-width-tablet, 900px);
  }
}

@media (width < 768px) {
  .article-container {
    font-size: var(--legadilo-article-details-font-size-mobile);
  }
}

/* Must override the title font-size so they scale with the selected font size */
.article-container h1,
.article-container .h1 {
  font-size: 2.5em;
}

.article-container h2,
.article-container .h2 {
  font-size: 2em;
}

.article-container h3,
.article-container .h3 {
  font-size: 1.75em;
}

.article-container h4,
.article-container .h4 {
  font-size: 1.5em;
}

.article-container h5,
.article-container .h5 {
  font-size: 1.25em;
}

.article-container h6,
.article-container .h6 {
  font-size: 1em;
}

.article-aside {
  max-width: 300px;
  z-index: 1;
}

.article-toc {
  overflow-wrap: anywhere;

  a {
    border-left: 0.2em solid transparent;
    padding: 0.125rem 0 0.125rem 0.75rem;
    display: block;
    text-decoration: none;
    color: var(--bs-secondary-color);

    &.active,
    &:hover {
      border-left-color: var(--bs-primary-text-emphasis);
      color: var(--bs-primary-text-emphasis);
      font-weight: 500;
    }
  }
}

.article-nested-toc {
  padding-left: 0.75rem;
}

pre.raw-content {
  white-space: pre-wrap;
}

hr.article-separator {
  border-top: 5px dashed var(--bs-secondary-color);
}

@media print {
  a.badge {
    background: none !important;
    color: black !important;
    border: solid 1px black !important;
  }

  .accordion,
  .header-container,
  .btn-group,
  aside,
  aside.article-aside,
  nav,
  footer,
  footer.content-footer {
    display: none !important;
  }

  img,
  figure {
    break-inside: auto;
    clear: both;
    float: none;
  }
}
