{% extends "base.html" %}

{% load crispy_forms_tags humanize i18n static %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block page_js %}
    <script src="{% static 'js/list_of_articles.js' %}"
            nonce="{{ csp_nonce }}"
            defer></script>
    {{ js_cfg|json_script:"js-cfg" }}
    <script src="{% static 'js/tag_edition.js' %}"
            nonce="{{ csp_nonce }}"
            type="module"></script>
{% endblock page_js %}
{% partialdef reading-list-group %}
    <div class="list-group">
        {% for reading_list in reading_lists %}
            <a href="{{ reading_list|reading_list_url }}"
               class="list-group-item list-group-item-action d-flex justify-content-between {% if displayed_reading_list.id == reading_list.id %}active{% endif %}"
               {% if displayed_reading_list.id == reading_list.id %}aria-current="true"{% endif %}
            >
                <span>{{ reading_list.title }}</span>
                {% if count_unread_articles_of_reading_lists|get_item:reading_list.slug > 0 and reading_list.show_unread_count == 'COUNT' %}
                    <span>
                        <span
                            class="badge text-bg-info">{{ count_unread_articles_of_reading_lists|get_item:reading_list.slug }}</span>
                    </span>
                {% elif count_unread_articles_of_reading_lists|get_item:reading_list.slug > 0 and reading_list.show_unread_count == 'INDICATOR' %}
                    <span>
                        <span class="badge text-bg-info">+</span>
                    </span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endpartialdef reading-list-group %}
{% block center_navbar %}
    <div id="reading-list-dropdown-menu"
         class="col col-5 d-md-none dropdown d-flex justify-content-center">
        {% partialdef reading-list-dropdown-menu inline %}
            <button class="btn btn-secondary dropdown-toggle mw-100 d-flex align-items-center"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                {% if displayed_reading_list %}
                    <span
                        class="text-truncate d-inline-block">{{ displayed_reading_list.title }}</span>
                    {% if count_unread_articles_of_reading_lists|get_item:displayed_reading_list.slug > 0 and displayed_reading_list.show_unread_count == 'COUNT' %}
                        <span
                            class="badge text-bg-info mx-1">{{ count_unread_articles_of_reading_lists|get_item:displayed_reading_list.slug }}</span>
                    {% elif count_unread_articles_of_reading_lists|get_item:displayed_reading_list.slug > 0 and displayed_reading_list.show_unread_count == 'INDICATOR' %}
                        <span class="badge text-bg-info">+</span>
                    {% endif %}
                {% else %}
                    {% translate "Reading lists" %}
                {% endif %}
            </button>
            <div class="p-0 dropdown-menu">{% partial reading-list-group %}</div>
        {% endpartialdef reading-list-dropdown-menu %}
    </div>
{% endblock center_navbar %}

{% block content %}
    <div id="reading-list-title-container"
         class="container-fluid px-md-3 bg-body z-1">
        <div class="row">
            <div class="col col-md-3 d-none d-md-block"></div>
            <div class="col col-12 col-md-7 col-md-8 px-1 px-md-3">
                <h1>{{ page_title }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row scrollable px-0 mx-0">
            <div class="col col-md-1"></div>
            <div class="col col-2 d-none d-md-block">
                <nav id="reading-list-group" class="sticky-md-top">
                    {% partial reading-list-group %}
                </nav>
            </div>
            <div class="col col-12 col-md-8 px-1 px-md-3 mx-0">
                <div id="reading-list-actions-container" class="row px-0 mx-0 bg-body z-1">
                    {% if count_articles_of_current_reading_list > 0 %}
                        <h2 class="fs-6 col-6 col-md-2 align-middle d-flex align-items-center px-0 mx-0">
                            <span id="articles-in-total">
                                {% partialdef articles-in-total inline %}
                                    {% blocktranslate trimmed with formatted_nb_articles=count_articles_of_current_reading_list|intcomma count count_articles_of_current_reading_list=count_articles_of_current_reading_list %}
                                        {{ formatted_nb_articles }} article in total
                                    {% plural %}
                                        {{ formatted_nb_articles }} articles in total
                                    {% endblocktranslate %}
                                {% endpartialdef articles-in-total %}
                            </span>
                        </h2>
                    {% endif %}
                    {% if js_cfg.is_reading_on_scroll_enabled %}
                        <div class="d-flex mb-2 col-6 col-md-2 px-0 mx-0">
                            <div class="form-check form-switch">
                                <input id="read-on-scroll-status"
                                       class="form-check-input"
                                       type="checkbox"
                                       role="switch"
                                       checked/>
                                <label class="form-check-label"
                                       for="read-on-scroll-status">{% translate "Read on scroll" %}</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if feed %}
                        <div class="d-flex mb-2 col-md-2 px-0 mx-0">
                            <span class="align-middle d-flex align-items-center"><a
                                href="{% url 'feeds:edit_feed' feed_id=feed.id %}">{% translate "Edit this feed" %}</a></span>
                        </div>
                    {% endif %}
                    {% if search_query %}
                        <div class="d-flex mb-2 col-md-2 px-0 mx-0">
                            <span class="align-middle d-flex align-items-center">
                                <a href="{% url 'reading:search' %}?{{ search_query }}">{% translate "Go to advanced search" %}</a>
                            </span>
                        </div>
                    {% endif %}
                    {% if update_articles_form %}
                        {% include "reading/partials/update_searched_articles.html" with update_articles_form=update_articles_form size="col-md-6" %}
                    {% endif %}
                </div>
                {% partialdef articles-page inline %}
                    {% for article in articles_page %}
                        <div id="{{ article|article_card_id }}" class="article-card-container">
                            {% include 'reading/partials/article_card.html' %}
                        </div>
                        {% if forloop.last and js_cfg.is_reading_on_scroll_enabled %}
                            <p class="read-on-scroll-even-bottom" aria-hidden="true">
                                {% if next_page_number %}
                                    {% translate "You have too many articles to read on scroll. Please refresh the page to view the others." %}
                                {% endif %}
                            </p>
                        {% endif %}
                    {% empty %}
                        <p>{% translate "No articles to display." %}</p>
                    {% endfor %}
                {% endpartialdef articles-page %}
                {% if articles_paginator.num_pages > 1 %}
                    {% translate 'Navigation between articles' as pagination_aria_label %}
                    {% include "core/partials/pagination.html" with arial_label=pagination_aria_label objects_page=articles_page elided_page_range=elided_page_range %}
                {% endif %}
            </div>
        </div>
    </div>
    <form id="bulk-mark-as-read-form"
          class="visually-hidden"
          aria-hidden="true"
          method="post"
          action="{% url 'reading:mark_articles_as_read_in_bulk' %}"
          hx-trigger="submit"
          hx-swap="none show:none"
          hx-boost="true"
          hx-push-url="false">
        {% csrf_token %}
        <input id="bulk-mark-as-read-data" type="hidden" name="article_ids" value=""/>
        <input type="hidden"
               name="displayed_reading_list_id"
               value="{{ displayed_reading_list.id }}"/>
        <input type="hidden" name="from_url" value="{{ from_url }}"/>
    </form>
    <a class="btn btn-outline-primary sticky-bottom refresh-btn bg-secondary-subtle"
       aria-label="{% translate 'Refresh current reading list' %}"
       role="button"
       href="{{ request.get_full_path }}">{% include "core/partials/bs-icon.html" with name="arrow-clockwise" %}</a>
{% endblock content %}
